/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');


@font-face {
  font-family: "Code Pro";
  src: url("/9583.otf");
}

body {
  font-size: 20px;
  font-family: 'PT Mono', monospace;
  background: #fff;
  line-height: 1.6;
  color: #130e09; }

h1 {
  font-size: 36px;
  font-family: 'Code Pro', monospace;
  color: #004e9a;
  margin: 5px;
}

h5 {
  margin: 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;}

h6 {
  margin: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6; }


img {
   margin: 0;
   display: inline;
}

.header {
   margin: 20px;
   display: block;
}

a {
}

a:hover {
}

a.hoverable:hover {
  font-size: 36px;
  font-family: 'Code Pro', monospace;
  color: #004e9a;
  margin: 5px;}
  
a.hoverable {
  font-size: 36px;
  font-family: 'Code Pro', monospace;
  color: #004e9a;
  margin: 5px; }

.button {
    border: 6px solid #004e9a;
    padding: 7px;
    margin: 10px;
}
